:root{
    --Border-color:snow;
    --Backroud-color:Lightgray;
}
.navbar{
    background: navy;
    padding: 30px;
    width: 100%;  /*GEHT Ganz durch*/
    display: flex;              /* Flex aktivieren */
    justify-content: center;    /* Horizontal zentrieren */
    align-items: center;        /* Vertikal zentrieren */
    gap:15px;
}
.nav-links {
    color: var(--Border-color);          /* Schriftfarbe setzen */
    font-weight: bold;     /* Schrift fett machen */
    font-size: 25px;       /* Schriftgröße  */
    list-style: none;      /* Entfernt die hässlichen Aufzählungs-Punkte */
    text-decoration: none;  /*macht das der link nicht mehr unterschrichten ist*/
    padding: 15px 25px;          /*macht das um dei links herum ein pading ist und das die weise linie weiter weg ist*/
    border: 2px solid var(--Border-color);    /*weiser ausenrand um dei links*/
    border-radius: 30px;   /* macht es schön rund */
    cursor: pointer;       /*machd wen man draufdrück eine hand aus dem eiger */
    transition: 0.2s;
    }
.nav-links:hover {
    transform: scale(1.2);
}
main {
    a{
        color: black;
    }

    a:hover {
        color: red; /* Pflicht: Wird rot bei Hover  */
        text-decoration: none; /* Pflicht: Unterstreichung weg bei Hover  */
    }

}
ol li:last-child {
    text-decoration: line-through;   /* Pflicht: Letzter Listenpunkt durchgestrichen  */
}
p {
    text-align: justify;
    padding: 10px;
}

img {
    width: 100px;
    border: 3px solid orange;
    margin: 0 10px 10px 0;
}

h1 {
    background-color: gray;
    color: white;
    font-size: 28px;
    position: sticky;
    top: 0;
}
h2 {
    color: blue;
    font-size: 21px;
}
* {
    font-family: Verdana, sans-serif;
    font-size: 14px;
}
body {
    background-color: var(--Backroud-color);
    width: 80%;
    margin: 0 auto;
}
.mein-video {
    display: block;          /* Macht das Video zu einem eigenen Block-Element */
    width: 300px;            /* Kleiner gemacht, genau wie dein Inhalts-Viereck  */
    margin: 10px ;       /* Weniger Abstand nach oben/unten (10px) und mittig [cite: 195, 223] */

}